<% title "Games" %>

<table>
  <tr>
    <th>Date</th>
    <th>City</th>
    <th>User</th>
  </tr>
  <% for game in @games %>
    <tr>
      <td><%=h game.date %></td>
      <td><%=h game.city_id %></td>
      <td><%=h game.user_id %></td>
      <td><%= link_to "Show", game %></td>
      <td><%= link_to "Edit", edit_game_path(game) %></td>
      <td><%= link_to "Destroy", game, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Game", new_game_path %></p>
