<% title "Transactions" %>

<table>
  <tr>
    <th>User</th>
    <th>Character</th>
    <th>Amount</th>
    <th>Reason</th>
  </tr>
  <% for transaction in @transactions %>
    <tr>
      <td><%=h transaction.user_id %></td>
      <td><%=h transaction.character_id %></td>
      <td><%=h transaction.amount %></td>
      <td><%=h transaction.reason %></td>
      <td><%= link_to "Show", transaction %></td>
      <td><%= link_to "Edit", edit_transaction_path(transaction) %></td>
      <td><%= link_to "Destroy", transaction, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Transaction", new_transaction_path %></p>
